.short-input,
.short-input-container
{
    width: 10rem;
    height: 4rem;
}

.short-input
{
    background-size: 10.0rem 4.0rem !important;
    background-repeat: no-repeat;
}

.bottom-gold-line {
    background-image: url("coui://gfx/ui/skin/line_gold.png");
    background-size: 90% 0.3rem;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.combat-simulator-container-layout .ui-control.dialog
{
    background-color: rgba(0, 0, 0, 0.3);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index : 1;
}

.combat-simulator-container-layout
{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("coui://gfx/ui/skin/dialog_background_01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.combat-simulator .dialog .footer
{
    display: flex;
    justify-content: center;
}

.combat-simulator .dialog .footer .l-button-bar
{
    display: flex;
}

.combat-simulator-container-layout .content
{
    display: flex;
}

.settings-box
{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.settings-box > .row
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding-left: 2rem;
}

.settings-box > .row .label
{
    width: 20rem;
}

.checkbox-container
{
    width: 22rem;
    margin-left: 2rem;
    /*border: 1px solid white;*/
}

.settings-box .row .bool-checkbox-label,
.setup-box .bool-checkbox-label
{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.8rem;
    color: #d7b174;
    font-weight: normal;
    font-style : normal;
    font-family: 'FreeUniversal-Regular';
}

.setup-box
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.setup-box .box-title,
.setup-box .box-subtitle
{
    text-align: center;
    padding-top: 1rem;
    height: 5rem;
    width: 100%;
    /*border: 1px solid red;*/
}

.setup-box .box-title
{
    font-size: 2.4rem;
}

.setup-box .box-subtitle
{
    font-size: 2.0rem;
}

.setup-box .spawnlist-box
{
    width: 100%;
    height: 30%;
    overflow: hidden;
    margin-top: 3rem;
    /*border: 1px solid green;*/
}

.setup-box .units-box
{
    width: 100%;
    height: 60%;
    overflow: hidden;
    /*border: 1px solid blue;*/
}

.setup-box .spawnlist-box .list,
.setup-box .units-box .list
{
    height: 80%;
}

.setup-box .spawnlist-box .delete-button-container,
.setup-box .units-box .delete-button-container
{
    height: 4.3rem;
    width: 9.8rem;
    margin-left: auto;
}

.setup-box .button-bar-box
{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;

    /*border: 1px solid orange;*/
}

.faction-button-container
{
    width: 15rem;
    height: 3.3rem;
    border: 1px solid orange;
    right: 0rem;
    top: 0rem;
}

.faction-button-container .l-button
{
    width: 4.2rem;
    height: 3.3rem;
    position: relative;
    float: left;
}

.combat-simulator .combat-simulator-text-button-layout,
.combat-simulator .combat-simulator-text-button
{
    width: 23rem;
    height: 4.3rem;
    line-height: 3.6rem;
    /*border: 2px solid blue;*/
}

.combat-simulator-entry-label
{
    width: 30rem;
    text-align: center;
    /*border: 1px solid blue;*/
}

.generic-popup
{
    width: 60.0rem;
    height: 60.0rem;

    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 60.0rem 60.0rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*border-image-width: 20px;*/
}

.generic-popup .header
{
    max-height: 5rem;
}

.generic-popup .sub-header
{
    max-height: 5rem;
}

.generic-popup .content
{
    /*border: 1px solid red;*/
    max-height: 45rem;
}

.generic-popup .footer
{
    max-height: 5rem;
}

.generic-popup-container
{
    max-height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.generic-popup-container .list
{
    /*border: 1px solid purple;*/
    margin-top: 2rem;
}

.generic-popup-container .filter-bar
{
    width: 100%;
    height: 4.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.generic-popup-container .scroll-container > .row,
.setup-box .row
{
    width: 100%;
    height: 4.3rem;
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}