
.custom-fight-container-layout .ui-control.dialog
{
    background-color: rgba(0, 0, 0, 0.3);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index : 1;
}

.custom-fight-container-layout
{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("coui://gfx/ui/skin/dialog_background_01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.custom-fight .dialog .footer
{
    display: flex;
    justify-content: center;
}

.custom-fight .dialog .footer .l-button-bar
{
    display: flex;
}

.custom-fight-container-layout .content
{
    display: flex;
}

.settings-box
{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.settings-box > .row
{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding-left: 2rem;
}

.settings-box > .row .label
{
    width: 20rem;
}

.settings-box .row .bool-checkbox-label
{
    padding-left: 2rem;
    font-size: 1.8rem;
    color: #d7b174;
    font-weight: normal;
    font-style : normal;
    font-family: 'FreeUniversal-Regular';
}

.setup-box
{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.setup-box .box-subtitle
{
    padding-top: 1rem;
    width: 100%;
    height: 5rem;
    text-align: center;
}

.spawnlist-box
{
    width: 100%;
    height: 20%;
    overflow: auto;

    /*border: 1px solid green;*/
}

.units-box
{
    width: 100%;
    height: 70%;
    overflow: auto;

    /*border: 1px solid blue;*/
}

.spawnlist-box .list,
.units-box .list
{
    height: 90%;
}

.button-bar-box
{
    width: 100%;
    height: 10%;
    display: flex;

    /*border: 1px solid orange;*/
}

.custom-fight .custom-fight-text-button-layout
{
    width: 23rem;
    height: 4rem;
    /*border: 2px solid blue;*/
}

.custom-fight .custom-fight-text-button
{
    width: 23rem;
    height: 4rem;
    line-height: 3.6rem;

    /*border: 2px solid blue;*/
}

.custom-fight-entry-label
{
    width: 30rem;
}

.generic-popup
{
    width: 60.0rem;
    height: 60.0rem;

    background-image: url("coui://gfx/mods/msu/skin/generic_background_large_border.png");
    background-size: 60.0rem 60.0rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*border-image-width: 20px;*/
}

.generic-popup .header
{
    max-height: 5rem;
}

.generic-popup .sub-header
{
    max-height: 5rem;
}

.generic-popup .content
{
    /*border: 1px solid red;*/
    max-height: 45rem;
}

.generic-popup .footer
{
    max-height: 5rem;
}

.generic-popup-container
{
    max-height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.generic-popup-container .list
{
    border: 1px solid purple;
    margin-top: 2rem;
}

.generic-popup-container .filter-bar
{
    width: 100%;
    height: 4.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.generic-popup-container .scroll-container > .row,
.setup-box .row
{
    width: 100%;
    height: 4.3rem;
    position: relative;
    overflow: hidden;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;

    /*border: 2px solid red;*/
}