.tactical-screen .topbar-options-module .l-spectator-button,
.tactical-screen .topbar-options-module .l-pause-button,
.tactical-screen .topbar-options-module .l-fov-button,
.tactical-screen .topbar-options-module .l-camera-button
{
    top: 0.2rem;
    bottom: 0;
    width: 4.5rem;
    height: 4.1rem;
    position: absolute;
    margin: auto 0;
}

.tactical-screen .topbar-options-module .l-spectator-button
{
    left: -5rem;
}
.tactical-screen .topbar-options-module .l-pause-button
{
    left: -9rem;
}
.tactical-screen .topbar-options-module .l-fov-button
{
    left: -13rem;
}
.tactical-screen .topbar-options-module .l-camera-button
{
    left: -17rem;
}

